{% extends "dashboard/base.html" %}

{% block main %}
    <div class="space-y-4">
        <div class="container flex items-center space-x-4">
            <div class="space-x-4 flex items-center">
                <button class="shadow-inner bg-white border px-3 py-1 rounded hover:bg-gray-50 ease duration-200 text-sm flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                    </svg>
                    <span>Save</span>
                </button>
                <button class="shadow-inner bg-white border px-3 py-1 rounded hover:bg-gray-50 ease duration-200 text-sm flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    <span>Preview</span>
                </button>
                <button class="bg-blue-500 text-white px-4 py-1 rounded text-sm hover:bg-blue-600 ease duration-200">Publish</button>
            </div>
        </div>
        <div class="container md:flex md:space-x-4 space-y-4">
            <div class="w-full border rounded-lg p-4 bg-white shadow-sm max-w-3xl">
                <div id="editorjs"></div>
            </div>
            <div class="w-full space-y-4 md:max-w-96 mx-auto" x-data="{
                blog_title: 'This is my blog name',
                description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iusto velit eveniet, odio reiciendis, totam eligendi illum, inventore soluta accusantium aliquam? Repudiandae corporis soluta libero aspernatur laudantium enim hic commodi!',
                thumbnail: `{{ url_for('pages.static', filename='placeholder.png') }}`
            }">
                <h4 class="text-2xl font-medium">Content</h4>
                <div class="w-full mx-auto">
                    <img :src="thumbnail" id="image_placeholder" class="w-full h-48 object-cover rounded">
                    <div class="mt-2 space-y-1">
                        <h4 class="text-lg font-medium" x-text="blog_title"></h4>
                        <p class="text-sm text-gray-500 line-clamp-3" x-text="description"></p>
                    </div>
                </div>
                <form action="" method="post" class="space-y-2 mx-auto">
                    <div> 
                        <label class="flex justify-center w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none">
                            <span class="flex items-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                </svg>
                                <span class="text-gray-500 text-sm font-medium">
                                    Drop files to Attach, or
                                    <span class="text-blue-600 underline">browse</span>
                                </span>
                            </span>
                            <input type="file" name="file_upload" class="hidden" x-on:change="
                                if (event.target.files.length > 0) {
                                    const file = event.target.files[0];

                                    if (!file.type.startsWith('image/')) {
                                        const flash_message = new FlashMessage(
                                            'Please upload a valid image file (jpg, png, gif)',
                                            'error'
                                        );
                                        flash_message.show();
                                        event.target.value = '';
                                        return;
                                    }

                                    const reader = new FileReader();
                                    reader.onload = e => thumbnail = e.target.result;
                                    reader.readAsDataURL(file);

                                    const flash_message = new FlashMessage('Image uploaded successfully', 'success');
                                    flash_message.show();
                                }
                            ">
                        </label>
                        <p class="text-gray-500 text-sm mt-2 text-sm">Supported formats: .png, .jpg, .jpeg, .gif</p>
                    </div>
                    <div class="space-y-1">
                        <label class="text-sm text-gray-600 font-medium">Blog Title</label>
                        <input type="text" class="w-full border px-2 py-1 rounded text-sm" x-model="blog_title">
                    </div>
                    <div class="space-y-1">
                        <label class="text-sm text-gray-600 font-medium">Description</label>
                        <textarea class="w-full border px-2 py-1 rounded text-sm" rows="4" x-model="description"></textarea>
                    </div>
                    <div class="space-y-1">
                        <label class="text-sm text-gray-600 font-medium">Category</label>
                        <select name="" id="" class="w-full border px-2 py-1 rounded text-sm">
                            <option value="category_1">Category 1</option>
                            <option value="category_2">Category 2</option>
                            <option value="category_3">Category 3</option>
                            <option value="category_4">Category 4</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block include_javascript %}
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@2"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@2.7.6/dist/quote.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-inline-image"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-drag-drop"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-undo"></script>
<script src="{{ url_for('static', filename='js/utilities.js') }}"></script>

<script>
    function on_file_upload(event) {
        
    }
    const editor = new EditorJS({
        holder: 'editorjs',
        tools: {
            List: {
                class: EditorjsList,
                inlineToolbar: true,
                config: {
                    defaultStyle: 'unordered'
                }
            },
            header: {
                class: Header,
                inlineToolbar: true
            },
            paragraph: {
                class: Paragraph,
                inlineToolbar: true
            },
            quote: {
                class: Quote,
                inlineToolbar: true,
                config: {
                    quotePlaceholder: "Enter a quote.",
                    captionPlaceholder: "Quote's Author"
                }
            },
            image: SimpleImage,
            inlineImage: {
                class: InlineImage,
                inlineToolbar: true
            },
            table: Table,
            code: CodeTool,
        },
        data: {
            blocks: [
                {
                    type: "header",
                    data: {
                        text: "Welcome to Pages.",
                        level: 2
                    }
                },
                {
                    type: "paragraph",
                    data: {
                        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sequi voluptatibus vitae repellat obcaecati tempore dolores temporibus eaque fugiat architecto recusandae harum, cumque eligendi ipsa quis molestiae modi repudiandae earum tenetur magni, delectus quisquam assumenda! Eum, sapiente ipsum numquam cum doloremque reprehenderit molestias laborum facere accusantium nulla omnis maxime ad veniam unde. Laborum excepturi veniam nemo quae, odio itaque voluptatum iure autem ratione, alias reiciendis sint delectus ipsa fugiat. Expedita id aut nisi assumenda impedit commodi ipsa natus cumque! Est veritatis eaque porro odio voluptatum quia quam nostrum nam iste, a, mollitia omnis assumenda eius sunt ipsam error corporis! Itaque impedit quia et nobis ea placeat velit ullam veniam in."
                    }
                }
            ]
        },
        onReady: () => {
            new DragDrop(editor),
            new Undo({ editor });
        }
    });
</script>
{% endblock %}