{% extends "template.html" %}
{% block title %}{{ g.settings['site_title'] }}{% endblock %}
{% block content %}
    <header class="bg-[url('https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg')] text-white bg-center bg-cover bg-no-repeat relative">
        
        <div class="absolute inset-0 h-full w-full bg-black/50 z-0"></div>
        <div class="relative z-10">
            {% include "components/navigation.html" %}
        </div>
        <div class="relative py-24 p-4">
            <div class="max-w-7xl mx-auto relative z-10">
                <h1 class="text-4xl max-w-2xl font-medium">This is the heading of this section</h1>
                <p class="max-w-lg text-zinc-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deserunt perspiciatis, consequatur sapiente quos deleniti numquam suscipit aliquam.</p>
            </div>
        </div>
    </header>
    <div class="space-y-8 p-4 my-10">

        <div class="max-w-6xl mx-auto">
            <h4 class="text-2xl font-medium">All Articles</h4>
            <p class="text-gray-500 text-sm">Discover a wide range of articles covering topics that matter to you.</p>
            <div class="grid lg:grid-cols-3 grid-cols-2 gap-4 mt-4">
                {% for blog in blogs %}
                <a href="{{ url_for('pages.view_blog', uuid=blog.uuid) }}">
                    <img src="{{ blog.thumbnail }}" class="w-full h-54 object-cover rounded">
                    <div class="my-2">
                        <h4 class="font-medium line-clamp-2">{{ blog.title }}</h4>
                        <p class="line-clamp-3 text-sm text-gray-600">{{ blog.description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}